[submodule "beatleader-server-models"]
	path = beatleader-server-models
	url = https://github.com/BeatLeader/beatleader-server-models.git
[submodule "ReplayDecoder"]
	path = ReplayDecoder
	url = https://github.com/BeatLeader/ReplayDecoder.git
